# File goes into /usr/lib/systemd/system
[Unit]
Description=Barcode Validator
After=multi-user.target

[Service]
Type=simple
ExecStart=python3 /home/pi/tt_barcode_validator/main.py

[Install]
WantedBy=multi-user.target
